{% extends "base.html" %}
{% block content %}
<!-- <h1>Assessment</h1> -->
<br>
<br>

<div class="content-section">
  <h3>Assessment</h3>
  <p class='text-muted'>Current Semester Subjects
    <ul class="list-group">
        {% for course in courses %}
        <a href="/s_assessment_detail?course_code={{course.course_code}}" class="btn btn-primary btn-block col-md-8">{{course.course_code + "  " +  course.course_name}}</a>
        {% endfor %}
      
    </ul>
  </p>
</div>
<br>
<br>

{% endblock %}