{% extends "base.html" %}

{% block content %}

<h1>Student</h1>

<div class="col-md-4">
          <div class="content-section">
            <h3>Dashboard</h3>
            <p class='text-muted'>Gist of sensor functions.
              <ul class="list-group">
                <li id ="LeakDetect"class="list-group-item list-group-item-light">Leakage Detected: </li>
                <li class="list-group-item list-group-item-light">Differential Flow Rates: Normal</li>
                <li class="list-group-item list-group-item-light">Pipeline Health: Good</li>
                <li class="list-group-item list-group-item-light">Leakage Positions: </li>
              </ul>
            </p>
          </div>
        </div>

{% endblock %}