{% extends "register.html" %}

{% block ocr %}
<div class="text-center">
    <a href="{{ url_for('reg_ocr')}}" class="btn btn-primary" role="button">Register through OCR</a>
</div>
<br>
<br>
<p class="text-center">OR</p>
<p class="text-center">Fill the details and register </p>
<br>
<br>
{% endblock %}

{% block extra %}
<div class="form-group">
    {{ form.usn.label(class="form-control-label") }}
    {% if form.usn.errors %}
        {{ form.usn(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.usn.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.usn(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="form-group">
    {{ form.c_email.label(class="form-control-label") }}
    {% if form.c_email.errors %}
        {{ form.c_email(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.c_email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    {% else %}
        {{ form.c_email(class="form-control form-control-lg") }}
    {% endif %}
</div>
{% endblock %}

